  .home-slide-container6 {
    height: 128%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    background: black;
    padding-top:8% ;
  }
  .contact-us {
    width: 100%;
    background: linear-gradient(to bottom, #ffd700, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }
  .home-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    border: 1px solid #facc15;
    border-radius: 0.75rem;
    color: white;
    margin: auto;
    margin-bottom: 30px;
    background-color: #171717;
}
  .con-heading {
    font-size: 50px;
    text-align: center;
  }
  .con-description{
    font-size: 14px;
    text-align: center; 
    margin-bottom: 10px;
  }
  .service-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    padding: 10px 0;
    justify-content: left;
  }
  .service-button {
    padding: 10px 16px;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid transparent;
    box-sizing: border-box;
    background: #555;
  }
  .service-button.selected {
    border-color: #928d8d;
  }
  .home-contact-one{
    background-color: #303030;
    border-radius: 12px;
    padding: 2rem;
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
  .section-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .contact-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .book-button {
    background: #ffd700;
    color: black;
    padding: 6px 26px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    position: relative;
    transition: background 0.3s ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .book-button:hover {
    background: #f5c500; /* Slightly darker yellow */
  }
  
  .icon-container {
    width: 36px;
    height: 36px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .phone-icon {
    color: black;
    font-size: 18px;
  }  
  
  .footer-contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap:15px;
    padding-top: 10px;
  }
  
  .contact-link {
    text-decoration: none;
  }
    
  .contact-link span{
    color: #FFD700;
  }
  