.background {
    width: 100%;
    height: 100%;
    background-color: #040404;
    z-index: -1;
  }
  
  .star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
  }
  
  .heading-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-image: url(../components/Assets/aboutbg.png);
  }
  /* .title {
    font-size: 75px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #ffffff;
  } */
   .title-animate{
    display: flex;
    gap: 20px;
   }
  .title-1 , .title-2, .title-3{
    position: relative;
    display: inline-block;
    font-size: 75px;
    font-weight: bold;
    color: white;
    overflow: hidden;
    text-transform: uppercase;
}
.title-1 span, .title-2 span, .title-3 span {
    position: relative;
}

.title-1 .optimize::before {
    content: "OPTIMIZE";
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(300.39deg, #000000 7.64%, #FFDD33 50%, #FFF700 92.36%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    clip-path: circle(20px at 0% 10%);
    transition: clip-path 0.8s ease;
}
.title-2 .innovate::before {
    content: "INNOVATE";
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(300.39deg, #000000 7.64%, #FFDD33 50%, #FFF700 92.36%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    clip-path: circle(20px at 0% 10%);
    transition: clip-path 0.8s ease;
}
.title-3 .disrupt::before {
    content: "DISRUPT";
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(300.39deg, #000000 7.64%, #FFDD33 50%, #FFF700 92.36%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    clip-path: circle(20px at 0% 10%);
    transition: clip-path 0.8s ease;
}
.title-1:hover .optimize::before {
    clip-path: circle(350px at top);
}
.title-2:hover .innovate::before {
    clip-path: circle(350px at top);
}
.title-3:hover .disrupt::before {
    clip-path: circle(350px at top);
}
  .subtitle {
    max-width: 800px;
    font-size: 18px;
    line-height: 1.6;
    color: #ffffff;
    text-align: -webkit-center;
  }
  
  .divider {
    width: 350px;
    height: 1px;
    background: linear-gradient(225.08deg, #000000 0.07%, #FFEA00 50%, #4D4D4D 99.93%);
    margin: 20px 0;
  }
  
  @media (max-width: 768px) {
    .title {
        font-size: 2.5rem;
    }
    .subtitle {
        font-size: 1rem;
    }
  }
  .gradient-text{
    background: linear-gradient(300.39deg, #000000 4.64%, #FFDD33 50%, #FFF700 92.36%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: inline-block;
      margin-bottom: 20px;
      font-size: 35px;
  }
  .nav {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .nav-title {
    color: yellow;
    font-weight: bold;
    margin-right: 20px;
  }
  
  .nav-tabs {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
  }
  
  /* .nav-tab {
    background-color: #040404;
    color: #D9D9D9;
    border-radius: 62px;
    padding: 12px 12px;
    border: 2px solid transparent;
    border-image: linear-gradient(225.08deg, #000000 0.07%, #D7D7D7 50%, #4D4D4D 99.93%);
    border-image-slice: 1;
  } */
  .nav-tab {
    border-radius: 62px;
    position: relative;
    padding: 12px 12px;
    color: #ffffff;
  }
  
  .nav-tab::before {
    content: "";
    position: absolute;
    inset: -2px; /* Controls border thickness */
    border-radius: inherit;
    padding: 2px; /* Border thickness */
    background: linear-gradient(225.08deg, #000000 0.07%, #D7D7D7 50%, #4D4D4D 99.93%);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
  }
  
  .project-container {
    display: flex;
    align-items: center;
    gap: 20px;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
    .fade-in-up {
    opacity: 1;
    transform: translateY(0);
  }
    .fade-out-down {
    opacity: 0;
    transform: translateY(20px);
  }
   .project-image {
    flex: 2;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

  .project-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .project-title {
    color: yellow;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .project-subtitle {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .results {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .result-item {
    text-align: left;
  }
  
  .view-case-study {
    background-color: yellow;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    align-self: flex-start;
    font-weight: bold;
    border-radius: 5px;
  }
  .project-section {
    max-width: 1200px;
    margin: 0 auto;
  }
  .adidas-section{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 75px;
  }
  .nav-head {
    background: linear-gradient(300.39deg, #000000 4.64%, #FFDD33 50%, #FFF700 92.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-size: 35px;
    position: relative; /* Needed for absolute positioning of underline */
    margin-bottom: 20px;
  }
  
  .nav-head::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px; /* Adjusts the underline position */
    width: 100%;
    height: 4px; /* Thickness of the underline */
    background-color: yellow;
  }
  .dom-head{
      margin-bottom: 20px;
      font-size: 35px;
      color: #ffffff;
  }
  .project-tabs{
    display: flex;
    gap: 30px;
  }
  @media (max-width: 768px) {
    .project-container {
        flex-direction: column;
    }
  }
  .nav-highlight{
    background-color: #FFD700;
    border-radius: 62px;
    color: #040404;
    padding: 12px 12px;
    font-weight: 600;
  }
  
  .case-study-container {
    max-width: 500px;
    text-align: left;
  }
  
  .company-name {
    font-size: 3rem;
    /* font-weight: bold; */
    margin-bottom: 10px;
    color: #ffffff;
  }
  
  .company-description {
    font-size: 20px;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .results-title {
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 24px;
    /* font-weight: bold; */
    color: #ffffff;
  }
  
  .results-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .result-item {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
  }
  
  .result-value {
    color: yellow;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .divider-vertical {
    height: 50px;
    width: 1px;
    background-color: white;
    margin-right: 30px;
  }
  .case-study-button {
    border-radius: 12px;
    position: relative;
    padding: 10px 15px;
    background-color: #040404;
    color: #FFD700;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    width: fit-content;
    cursor: pointer;
  }
  
  .case-study-button::before {
    content: "";
    position: absolute;
    inset: -2px; /* Controls border thickness */
    border-radius: inherit;
    padding: 2px; /* Border thickness */
    background: linear-gradient(225.08deg, #000000 0.07%, #FFEA00 50%, #4D4D4D 99.93%);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out; 
  }
  .background-section{
    /* background-color: #040404; */
  }
  .portfolio-section{
    background-color: #040404;
    padding-bottom: 60px;
  }
  .button-section{
    text-align: center;
    margin-top: 75px;
  }
  .load-button{
    background-color: #FFD700;
    border-radius: 10px;
    padding: 12px 12px;
    /* font-weight: 600; */
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
  }
  .banner-container {
    width: 80%;
    text-align: center;
    position: relative;
    margin: 0 auto;
    border-radius: 12px;
    position: relative;
    padding: 10px 15px;
    background: url('/src/components/Assets/bg_image.png') no-repeat center center;
    background-size: cover; /* Ensures the image covers the entire div */
    padding: 50px; /* Adjust padding as needed */
    text-align: center; /* Centers text content */
    color: white; /* Ensures text is readable */
    position: relative;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px); /* For Safari */
    box-shadow: 
    2px 2px 100px 0px #4242421A inset, 
    -2px -2px 100px 0px #FFFFFF1A inset;
    overflow: hidden;
    margin-top: 75px;
  }
  .banner-container::before{
    content: "";
    position: absolute;
    inset: -2px; /* Controls border thickness */
    border-radius: inherit;
    padding: 2px; /* Border thickness */
    border: 3px solid;
    background: linear-gradient(86.47deg, #FEFEFE 3.55%, #333333 49.52%, #FFD700 95.49%);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out; 
    pointer-events: none;
  }
  
  .banner-heading {
    font-size: 20px;
    margin-bottom: 15px;
    color: #ffffff;
    font-weight: bold;
  }
  
  .banner-industries {
    font-size: 20px;
    margin-bottom: 40px;
    color: #ffffff;
    font-weight: bold;
  }
  
  .highlight {
    color: #ffc107;
  }
  
  .cta-button .arrow {
    margin-left: 10px;
    font-size: 18px;
  }
  
  @media (max-width: 768px) {
    .banner-heading {
      font-size: 22px;
    }
    
    .banner-industries {
      font-size: 18px;
    }
  }
  /* Agile-section */
  .section-container {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 80px 20px;
    overflow: hidden;
}

.agile-heading {
    font-size: 32px;
    line-height: 1.3;
    margin-bottom: 40px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    text-align: center;
}

.cta-button {
    display: inline-flex;
    align-items: center;
    color: #000;
    padding: 12px 12px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;    
    transition: transform 0.3s ease;
    background-color: #FFD700;
    border-radius: 10px;
    padding: 12px 12px;
    /* font-weight: 600; */
    cursor: pointer;
}

.cta-button:hover {
    transform: translateY(-3px);
}

.arrow-icon {
    margin-left: 10px;
    font-size: 20px;
}

.floating-circle {
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.05);
    z-index: 1;
}
.floating-circle-1 {
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.05);
    z-index: 1;
}

.circle-icon {
    width: 80%;
    height: auto;
    object-fit: contain;
    opacity: 0.8;
}

.circle-1 {
    width: 80px;
    height: 80px;
    top: 5%;
    left: 22%;
}

.circle-2 {
    width: 120px;
    height: 120px;
    top: 40%;
    right: 80%;
}

.circle-3 {
    width: 70px;
    height: 70px;
    bottom: 20%;
    left: 30%;
}

.circle-4 {
    width: 60px;
    height: 60px;
    top: -2%;
    left: 55%;
}

.circle-5 {
    width: 100px;
    height: 100px;
    bottom: 75%;
    right: 15%;
}
.circle-6 {
    width: 80px;
    height: 80px;
    bottom: 35%;
    right: 20%;
}
@keyframes zoom-in-out {
    0% {
      transform: scale(0.3); /* Smaller size (zoom out) */
    }
    50% {
      transform: scale(1); /* Normal size */
    }
    100% {
      transform: scale(0.3); /* Back to smaller size */
    }
  }
  
  .floating-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px; /* Adjust size */
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    animation: zoom-in-out 3s infinite ease-in-out; /* Apply animation */
  }
  .floating-circle-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px; /* Adjust size */
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    animation: zoom-in-out 5s infinite ease-in-out; /* Apply animation */
  }

  
  
  